* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h2 {
  padding: 10px;
  color: rgb(226, 212, 212);
  background-color: red;
}
.navbar ul {
  display: flex;
}
.navbar li {
  list-style: none;

  padding: 14.5px;
}
.navbar li a {
  text-decoration: none;
  color: rgb(247, 70, 108);
}
.clr {
  background-color: red;
}
.clr a {
  color: rgb(226, 212, 212) !important;
}
